-i https://mirrors.aliyun.com/pypi/simple

yz-core
aiohttp==3.7.3  # aiohttp需为3.7.0及后续版本，解决复用链接keepalive引起的问题

# #db模块需要的依赖包
# alembic>=1.4.3
# sqlalchemy>=1.3.19
# psycopg2-binary>=2.8.6
# pymongo>=3.11.0

# #extensions模块需要的依赖包
# oss2>=2.13.0
# aiohttp>=3.6.2

# #测试模块需要用到的依赖包
# pytest==6.1.1
# aioresponses==0.7.0

# nacos依赖包
# nacos-sdk-python==0.1.6